SatiDotNet2/.vs/
SatiDotNet2/DBMaintenance/DevTest/OCR/Files/
SatiDotNet2/vwd.webinfo
SatiDotNet2/Bin/
SatiDotNet2/packages/
SatiDotNet2/node_modules/
SatiDotNet2/.vscode/
SatiDotNet2.Library/Bin/
SatiDotNet2.Library/obj/
SatiDotNet2.Library/packages/
SatiDotNet2Tests/Bin/
SatiDotNet2Tests/obj/
SatiDotNet2Tests/packages/
SatiDotNet2/PrecompiledWeb/