.MainMenuNavBar {
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: #80befd;
    font-family: 'Times New Roman';
    width: 100%;
    height: auto;
    padding-bottom: 50px;
}

    .MainMenuNavBar a {
        float: left;
        font-size: 16px;
        background-color: #80befd;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        width: 100%;
        height: auto;
    }

.MainMenuDropDown {
    display: inline-block;
    background-color: #80befd;
    overflow: hidden;
    height: auto;
}

    .MainMenuDropDown .MainMenuButton {
        font-size: 16px;
        border: none;
        outline: none;
        color: black;
        background-color: #80befd;
        padding: 10px 16px;
        height: auto;
        font: inherit;
        margin: 0;
    }

.MainMenuDropDownContent {
    display: none;
    position: absolute;
    width: calc(100% - 21px);
    background-color: #0057bf;
    min-width: 1050px;
    left: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
    z-index: 1;
    text-align: center;
    text-decoration: underline;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

    .MainMenuDropDownContent .header {
        background: #0057bf;
        padding: 16px;
        color: white;
    }

.MainMenuDropDown:hover .MainMenuDropDownContent {
    min-width: 1050px;
    margin: 0 auto;
}

.MainMenuColumns {
    display: inline-block;
    float: left;
    width: 28%;
    padding: 10px;
    padding-bottom: 15px;
    background-color: #0057bf;
    margin: 5px;
    color: white;
    text-align: center;
}

    .MainMenuColumns a {
        float: none;
        color: white;
        width: Calc(100% - 15px);
        padding: 8px;
        text-decoration: none;
        display: block;
        text-align: center;
        background-color: #0057bf;
        height: 15px;
    }

        .MainMenuColumns a:hover {
            background-color: #0000a8;
            border: groove;
            border-color: black;
            padding: 5px;
            padding-right: 5px;
            color: white;
            height: 15px;
        }

.MainMenuRows {
    background-color: #0057bf;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

    .MainMenuRows:after {
        content: "";
        display: table;
        clear: both;
    }