<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="ALTSConnectionString"
			 connectionString="Data Source=PWI-31\SATIDB;Initial Catalog=ALTS;Persist Security Info=True;User ID=exsil_user;Password=exsiluser"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		<add name="SATI_SPCConnectionString"
			 connectionString="Data Source=PWI-31\SATIDB;Initial Catalog=SATI_SPC;Persist Security Info=True;User ID=exsil_user;Password=exsiluser"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		<add name="AutoDataConnectionString"
			 connectionString="Data Source=PWI-31\SATIDB;Initial Catalog=AutoData;Persist Security Info=True;User ID=exsil_user;Password=exsiluser"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		<add name="SatiUsersConnectionString"
			 connectionString="Data Source=PWI-31\SATIDB;Initial Catalog=SatiUsers;Persist Security Info=True;User ID=sati;Password=laptopia"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		<add name="SatiToolsConnectionString"
			 connectionString="Data Source=PWI-31\SATIDB;Initial Catalog=SatiTools;Persist Security Info=True;User ID=exsil_user;Password=exsiluser"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		<add name="LocalSqlServer"
			 connectionString="Data Source=PWI-31\SATIDB;Initial Catalog=SatiUsers;Persist Security Info=True;User ID=sati;Password=laptopia"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	</connectionStrings>
	<appSettings>
		<add key="CofA:TemplatePath" value="\\PWI-40\software$\LabelTemplates\SatiCofA.xls"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="CofA:ArchivePath" value="\\PWI-40\LabelArchive$\CofA Files\"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="CofA:CustomerDataPath" value="\\PWI-40\Customerdata$\"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	</appSettings>
</configuration>
