/* =========================       EXCEL TABLE  STYLE CLASSES       ========================= */
/* ========================================================================================== */
.excelTable {
    background-color: #f3f3f3;
    border-top: 3px solid;
    border-top-color: #0000D0;
    border-left: 3px solid;
    border-left-color: #0000D0;
    border-bottom: 3px solid;
    border-bottom-color: #0000D0;
    border-right: 3px solid;
    border-right-color: #0000D0;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    overflow: visible;
    white-space: normal;
    text-overflow: ellipsis;
    padding: 0px;
    width: auto;
    font-family: Calibri, sans-serif;
}

.excelRow {
    width: 100%;
    height: 20px;
    table-layout: fixed;
    border-collapse: inherit;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    padding: 2px;
}

.excelCell {
    width: 23px;
    table-layout: fixed;
    border-collapse: inherit;
    overflow: visible;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 1px solid;
    border-color: #f3f3f3;
    padding: 2px;
    background-color: #f3f3f3;
    color: black;
    font-size: 10pt;
    font-weight: normal;
    font-style: normal;
    font-family: Arial;
    text-align: left;
    vertical-align: bottom;
}

    .excelCell:hover {
        background-color: white;
    }

.excelHeader {
    text-align: center;
    width: 23px;
    height: 20px;
    font-family: Calibri, sans-serif;
    font-size: 12px;
    color: white;
    background-color: black;
    border-bottom: 1px solid;
    border-bottom-color: black;
}



/* =========================    ENGINEERING CELLS  STYLE CLASSES    ========================= */
/* ========================================================================================== */
.engineeringExcelHeader {
    text-align: center;
    width: 23px;
    height: 20px;
    font-family: Calibri, sans-serif;
    font-size: 12px;
    color: red;
    background-color: #262626;
    border: 1px solid;
    border-color: black;
}

.engineeringCell {
    width: 23px;
    table-layout: fixed;
    border-collapse: inherit;
    overflow: visible;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-top: none;
    border-left: 2px solid black;
    border-right: 1px solid black;
    border-bottom: none;
    border-color: black;
    padding: 2px;
    background-color: white;
    color: black;
    font-size: 10pt;
    font-weight: normal;
    font-style: normal;
    font-family: Arial;
    text-align: left;
    vertical-align: bottom;
}

    .engineeringCell:hover {
        background-color: lightgray;
    }



/* =========================    ENGINEERING CELLS  STYLE CLASSES    ========================= */
/* ========================================================================================== */
.pageBreak {
    background: black;
    text-align: center;
}



/* =========================      BOTTOM WI TABS STYLE CLASSES      ========================= */
/* ========================================================================================== */
.tab {
    width: 985px;
    height: 60px;
    white-space: nowrap;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    display: -webkit-box;
    background-color: lightblue;
}

    .tab button {
        background-color: darkgray;
        float: left;
        outline: none;
        cursor: pointer;
        padding: 0px 10px 0px 10px;
        transition: 0.3s;
        font-size: 17px;
        border: none;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        width: min-content;
        height: 40px;
        font-family: Arial;
        font-size-adjust: initial;
        font-weight: bold;
        display: inline-block;
    }

        .tab button:hover {
            background-color: white;
        }

        .tab button.active {
            color: black;
            background-color: lightgray;
            border-bottom: 3px solid darkgray;
            border-top: 3px solid lightgray
        }

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: none;
    border-top: none;
    background-color: lightgray;
}



/* =========================      TOP INPUT TABS STYLE CLASSES      ========================= */
/* ========================================================================================== */
.editorTab{
    overflow: hidden;
    background-color: lightblue;
    height: 25px;
    width: 100%;
}

    .editorTab button {
        background-color: darkgray;
        float: left;
        outline: none;
        cursor: pointer;
        padding: 5px 5px 0px 5px;
        transition: 0.3s;
        font-size: 17px;
        border: none;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        width: 20%;
        height: 25px;
        font-family: Arial;
        font-size-adjust: initial;
        font-weight: bold;
        color: black;
    }

        .editorTab button:hover {
            color: black;
            background-color: white;
        }

        .editorTab button.active {
            color: black;
            background-color: lightgray;
            border-top: 3px solid darkgray;
            padding: 2px 5px 0px 5px;
        }

.editorContent {
    display: none;
    padding: 6px 6px;
    border: none;
    background-color: lightgray;
    height: 100%;
    width: calc(100% - 10px);
}

.wiImageUploaderTrick {
    width: 100%;
    height: 31px;
    background-color: lightgray;
    border-color: transparent;
}


/* =========================     Sticky Menu  &&  Button Styles     ========================= */
/* ========================================================================================== */
.nonSticky {
    position: initial;
    width: calc(100% - 20px); 
    padding: 10px;
}

.sticky {
    position: fixed;
    top: 10px;
    width: calc(100% - 41px);
    padding: 10px 0px 10px 0px;
    box-shadow: 0px 8px 16px -4px rgba(0,0,0,1);
    min-width: 1030px;
}

.visButton {
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border: 0;
    padding-right: 4px;
    margin-right: 11px;
    text-align: center;
    vertical-align: top;
    font-weight:bold;
    font-size:large;
}

    .visButton:hover {
        background-color: white;
    }



/* ========================= HERE ARE THE CLASSES FOR THE EDIT MENU ========================= */
/* ========================================================================================== */
.intLink {
    cursor: pointer;
}

img.intLink {
    border: 0;
    padding-right: 4px;
    margin-right: 11px;
}

.intLink:hover {
    background-color: white;
}

.intLinkCC {
    cursor: pointer;
}

img.intLinkCC {
    border: 1px solid black;
    border-radius: 6px;
    padding-right: 4px;
    margin-right: 11px;
}

.intLinkCC:hover {
    background-color: white;
}

#toolBar1 select {
    font-size: 10px;
}

#textBox {
    width: 540px;
    height: 200px;
    border: 1px #000000 solid;
    padding: 12px;
    overflow: scroll;
}

    #textBox #sourceText {
        padding: 0;
        margin: 0;
        min-width: 498px;
        min-height: 200px;
    }

#editMode label {
    cursor: pointer;
}

#toolBar1 {
    font-family: verdana;
    background-color: #ABC;
    margin: 0px;
    padding: 0px 0px 0px 7px;
    width: 100%;
}

#toolBar2 {
    padding-top: 4px;
    padding-left: 9px;
}

#toolBar3 {
    font-family: verdana;
    background-color: #ABC;
    margin: 0px;
    padding: 0px 0px 0px 7px;
    width: 100%;
}

.imgContainer {
    width: 200px;
    height: 200px;
    overflow: auto;
    resize: both;
    padding: 5px;
    position: absolute;
}


/* ================================== RULES FOR THE EDIT MENU ================================== */
/* ============================================================================================= */

ul.editmenu, ul.sub1, ul.sub2 {
    list-style-type: none;
    font-size: 10pt;
    margin: 0px;
    padding: 0px;
    z-index: 25;
}

    ul.editmenu li {
        width: 115px;
        text-align: center;
        position: relative;
        float: left;
        margin-right: 5px;
    }

    ul.editmenu a {
        text-decoration: none;
        display: block;
        width: 113px;
        height: 25px;
        line-height: 25px;
        background-color: white;
        border: 1px solid black;
        border-radius: 5px;
    }

    ul.editmenu:hover {
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,1);
    }

    ul.editmenu .sub1 a {
        margin-top: 3px;
        cursor: pointer;
    }

    ul.editmenu .sub2 a {
        margin-left: 10px;
    }

    ul.editmenu li:hover > a {
        background-color: darkblue;
        color: white;
    }

    ul.editmenu li:hover a:hover {
        background-color: #80befd;
    }

    ul.editmenu ul.sub1 {
        display: none;
        position: absolute;
        top: 25px;
        left: 0px;
    }

    ul.editmenu ul.sub2 {
        display: none;
        position: absolute;
        top: 0px;
        left: 111px;
        cursor: pointer;
    }

    ul.editmenu li:hover .sub1 {
        display: block;
    }

    ul.editmenu .sub1 li:hover .sub2 {
        display: block;
    }

.darrow {
    font-size: 10pt;
    position: absolute;
    top: 6px;
    right: 5px;
}

.rarrow {
    font-size: 10pt;
    position: absolute;
    top: 7px;
    right: 5px;
}

.colorWell{
    width: 80%;
    height: 20px;
}

.pixelArrow {
    width: 40px;
    padding: 0px;
    border: 0px;
    background: transparent;
    top: 9px;
    right: 7px;
    font-size: 10pt;
    position: absolute;
}